*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: #0b0d15;
  color: #a2a5b3;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container{
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: #1c1f2b;
    height: 400px;
    align-items: center;
    justify-content: flex-start;
    border-radius:15px;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
    
    

}
.container h1{
    flex:0 1 50px;
    color:white;
    font-weight: bolder;
    text-transform: capitalize;
}
.login-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 20px;
}
.input-section{
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    gap: 10px;
    
    
}
 input{
    border:2px solid transparent;
    border-radius: 15px;
    padding:10px;
    
    
    border-radius: 15px;
    font-size: 16px;
    
    
}
#name{
    text-transform: capitalize;

}
#email{
    text-transform: lowercase;
    
}
.input-section label{
    position: relative;
    top: -17.5%;
    margin-left: 10px;
}
input:focus + label,
label.active{
    
    transform: translate(-10px,-40px);
    color: orange;
    transition: transform 0.2s, color 0.2s;
}
input:focus,
input.filled{
  background: transparent;  
scale: 1.2;
transition: scale 0.2s, backgrund 0.2s;
color:white;
outline: none;
animation: border-glow 2s linear infinite;
}
@keyframes border-glow{
  0% {
        border-color: #ff0000;
        box-shadow: 0 0 5px #ff0000;
      }
      25% {
        border-color: #00ff00;
        box-shadow: 0 0 5px #00ff00;
      }
      50% {
        border-color: #0000ff;
        box-shadow: 0 0 5px #0000ff;
      }
      75% {
        border-color: #ff00ff;
        box-shadow: 0 0 5px #ff00ff;
      }
      100% {
        border-color: #ff0000;
        box-shadow: 0 0 5px #ff0000;
      }
}
button{
    align-self: center;
    display: flex;
    border:none;
    background-color : #476EAE ;
    border-radius: 25px;
    padding: 10px;
    width: 120px;
    justify-content: space-evenly;
    transition: background-image .2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.text{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: white ;
    letter-spacing: 0.2rem;
    transition: transform .2s, letter-spacing .2s;
   
    
}
.icon{
    color: white;
    scale:1.5;
    position: absolute;
    margin-top: 5px;
    opacity:0;
    transform: translateX(70px);
  transition: transform 0.2s, opacity 0.2s;
}
button:hover,
button.hold-hover{
    cursor: pointer;
    background-image: linear-gradient(45deg, #476EAE, #DC143C);
    
}
button:hover > .text,
button.hold-hover > .text {
    transform: translateX(-20px);
    cursor: pointer;
    letter-spacing: normal;
    
    
}
button:hover> .icon,
button.hold-hover > .icon{
    cursor:pointer;
    transform: translateX(25px);
    opacity: 1;
    
    
}

@keyframes sendIcon {
    
    0%{
transform: translateX(25px) scale(1);
opacity=1;
    }
    20%{
        transform:translateX(25px) scale(0.6);
    }
    50%{
        transform: translateX(25px) scale(1);
    }
    90%{
        transform: translate( 70px , -70px) scale(1);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
button.clicked > .icon{
    animation: sendIcon 2s forwards;
    
}

 
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after, .container::before{
    content: '';
    border-radius: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    z-index: -1;
    translate: -50% -50%;
    padding: 3px;
    animation: 3s spin linear infinite;
    
}
.container::before{
    filter:blur(1.5rem);
    opacity: 0.6;
}
@keyframes spin{
    from{
        --angle: 0deg;
    
    }
    to{
        --angle: 360deg;
    }
}
